<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link blue" routerLink="/blue-page">Blue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="green-page">Green</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="orange-page">Orange</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="yellow-page">Yellow</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="red-page">Red</a>
            </li>
    </ul>
  </div>
</nav>