.pageTitle {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
}

.red {
    color: rgb(199, 55, 55);
}

.alert {
    margin: 10px 80px 20px 80px;
    text-align: center;
    font-weight: bold;
}