.pageTitle {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
}

.blue {
    color: rgb(53, 98, 245);
}

.container {
    text-align: center;
    color: white;
    background-color: rgb(53, 98, 245);
}

.col {
    border: 1px solid white;
}

.alert {
    margin: 10px 80px 20px 80px;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1460px;
    }
}